<!DOCTYPE html>
<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
	</header>


	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/books">Elenco HAKUNA MATATAFilm</a>
	</div>
	<div>
		<a href="/authors">Elenco Artisti</a>
	</div>
	<h1>Operazioni per amministratore</h1>
	<div>
		<a href="/admin/books/newBook">Aggiungi libro al sistema </a>
		<a href="/admin/authors/newAuthor">Aggiungi autore al sistema </a>
	</div>
</body>

</html>